:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-nav-primary: #23232e;
    --bg-nav-secondary: #141418;
    --its-blue: #007575;
    --text-main: black;
    --bg-content-primary: #A8A8CC;
}

body {
    color: var(--text-main);
    background-color: var(--bg-content-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--its-blue);
}

main {
    margin-left: 13vmin;
    padding: 1rem;
}

.navbar {
    width: 7.5vmin;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-nav-primary);
    transition: width 500ms ease;
}

.navbar:hover {
    width: 24vmin;
}

.navbar:hover .link-text {
    transition: opacity 0.35s 0.52s ease;
    opacity: 100%;
    visibility: visible;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-item:hover {
    background-color: var(--bg-nav-secondary);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 8vmin;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-link:hover {
    color: #fff;
}

.nav-link:hover .link-img {
    color: transparent;
    text-shadow: 0 0 0 #fff;
    opacity: 0.9;
}

.link-text {
    visibility: hidden;
    margin: 2vmin;
    font-size: calc(6px + 1.75vmin);
    opacity: 0;
}

.logo-text {
    opacity: 0;
    margin: 2vmin;
    font-size: calc(6px + 1.75vmin);
    transition: opacity 1000ms ease;
}

.navbar:hover .logo-text {
    opacity: 1;
    transform: translateX(0vmin)
}

.link-img {
    font-size: calc(6px + 2vmin);
    min-width: 2vmin;
    margin: 2vmin;
}

main h1 {
    font-size: calc(16px + 2vmin);
    text-align: center;
}

main p {
    font-size: calc(6px + 2vmin);
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    align-self: right;
    width: 100%;
    justify-content: space-around;
}

.img-container img {
    border-style: dashed;
    border-color: var(--bg-content-primary);
    border-width: 0.8vmin;
    background-color: var(--bg-nav-secondary);
    margin: 1vmin;
    object-fit: cover;
    max-width: 40%;
}

.img-container img:hover {
    border-color: var(--bg-nav-primary);
    opacity: 0.9;
}

.img-container object {
    overflow-y: hidden;
    display: flex;
    border-style: dashed;
    border-width: 0.8vmin;
    width: 90%;
    height: 70vh;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    letter-spacing: 0.3ch;
    width: 80%;
    white-space: nowrap;
    transform: translateX(-275%);
    transition: transform 400ms;
}

iframe {
    align-self: center;
}

.logo img {
    transform: rotate(0deg);
    transition: transform 500ms;
    align-self: right;
}

.navbar:hover .logo {
    transform: translateX(0);
}

.navbar:hover .logo img {
    transform: rotate(-180deg);
}


/* Small screens
@media only screen and (max-width: 600px) {

}

Large screens
@media only screen and (min-width: 600px) {

}*/